article {
  font-family : 'proxima-nova', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color : #31373C;

  pre {
    padding : 20px;
    border-top : 1px solid #ddd;
    border-bottom : 1px solid #ddd;
  }

  code {
    font-family : typewriter, monospace;
    font-size : 14px;
    line-height : 16px;
    font-weight : 200;
  }

}